@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&display=swap');

/* DESIGN DO SITE */
html, body {
    font-family: "Cormorant SC", serif;
    background-color: #FFF4E2;
    margin: 0;
}

#backgroundIMG {
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: fixed;
}

h1 {
    font-size: 60px;
}

/* INDEX e CATALOGO */

.menu{
    padding: 10px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

li{
    margin-left: 7px;
}

li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    transition: 0.3s;
}

.center{
    margin: 10%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Ricky {
    position: absolute;
    background-color :black;
    bottom:0px;
    left: 0;
    margin: 10px;
}

button {
    background-color: black;
    font-family: "Cormorant SC", serif;
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
}

a {
    text-decoration: none !important;
}

a:hover {
    color: black !important;
}

button:hover {
    color: black !important;
    background-color: whitesmoke !important;
}

a:link {
    color: white
}

a:visited {
    color: white;
}